<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Мордовия Корреспондент</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="{{ url_for('index') }}" class="header-logo__link">
                <img class="header-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="иконка логотипа">
            </a>
            <nav class="header__nav">
                <ul class="header__ul">
                    <li class="header__li"><a href="{{ url_for('index') }}" class="header__link">Главная</a></li>
                    <li class="header__li"><a href="{{ url_for('about') }}" class="header__link">О нас</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="header__li">Привет, {{ current_user.username }} <a href="{{ url_for('logout') }}">Выйти</a></li>
                    {% else %}
                        <li class="header__li"><a href="{{ url_for('login') }}" class="header__link">Войти</a></li>
                    {% endif %}
                    <!-- Форма для выбора категории -->
                    <form class="header__form" action="/" method="get">
                        <select class="header__select" name="category_id">
                            <option value="">Все категории</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="header__btn" type="submit">Фильтр</button>
                    </form>
                </ul>
            </nav>
        </header>
    </div>
    <hr class="header__hr">



    <div class="wrapper-base container">
        {% block content %}

        {% endblock content %}
    </div>

    <hr class="footer__hr">
    <div class="container">
        <footer class="footer">
            <a href="{{ url_for('index') }}" class="footer-logo__link">
                <img class="footer-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="иконка логотипа">
            </a>
            <nav class="footer__nav">
                <ul class="footer__ul">
                    <li class="footer__li"><a href="{{ url_for('index') }}" class="footer__link">Главная</a></li>
                    <li class="footer__li"><a href="{{ url_for('about') }}" class="footer__link">О нас</a></li>
                </ul>
            </nav>
        </footer>
        <p class="footer__text">
            &copy; 2024 Новостной портал «Мордовия Корреспондент»
        </p>
    </div>

</body>
</html>