{% extends 'base.html' %}

{% block content %}
<h1 class="main__sec">Вход</h1><span class="main__span">Если у вас нет аккаунта, <a id="main__a" href="{{ url_for('register') }}">зарегистрируйтесь</a></span>
<form class="main__form2" action="{{ url_for('login') }}" method="post">
  <div>
    <label for="username"></label>
    <input class="main__input1" type="text" id="username" name="username" placeholder="Логин" required>
  </div>
  <div>
    <label for="password"></label>
    <input class="main__input2" type="password" id="password" name="password" placeholder="Пароль" required>
  </div>
  <button class="main__button" type="submit">Вход</button>
</form>
{% endblock content %}