{% extends 'base.html' %}

{% block content %}

<h1 class="main__h1">{{ post.title }}</h1><br>
<p class="main__content">{{ post.content }}</p>


<!-- Форма для отправки комментариев -->
<form method="post" action="{{ url_for('post_detail', post_id=post.id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.body.label(class="form-control-label") }}
        {{ form.body(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary main__btn">Отправить</button>
</form>

<!-- Отображение существующих комментариев -->
<div class="comments">
    <h2 class="main__h2">Комментарии</h2>
    {% for comment in comments %}
        <div class="main__comment">
            <p class="main__date">{{ comment.user.username }} at {{ comment.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
            <p class="main__body">{{ comment.body }}</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}